Assignment 1.1: WAP to print your name three times

In [ ]:
name = "Adhya"
for _ in range(3):
    print(name)

Assignment 2.1: WAP to add three numbers and print the result

In [7]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
result = num1 + num2 + num3
print("The sum of the numbers is:", result)

Enter first number: 1
Enter second number: 2
Enter third number: 3
The sum of the numbers is: 6

Assignment 2.2: WAP to concatenate three strings and print the result

In [5]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
str3 = input("Enter third string: ")
result = str1 + str2 + str3
print("The concatenated string is:", result)

Enter first string: adhya
Enter second string: koul
Enter third string: yayy
The concatenated string is: adhyakoulyayy

In [4]:


print("Table of 7:")
for i in range(1, 11):
    print(f"7 x {i} = {7 * i}")

print("Table of 9:")
for i in range(1, 11):
    print(f"9 x {i} = {9 * i}")

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Assignment 4.2: WAP to print the table of n (n is given by the user)

In [6]:
3
n = int(input("Enter the number for the table: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

Enter the number for the table: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Assignment 4.3: WAP to add all numbers from 1 to n (n is given by the user)

In [8]:
n = int(input("Enter the value of n: "))
result = sum(range(1, n + 1))
print("The sum of numbers from 1 to", n, "is:", result)

Enter the value of n: 4
The sum of numbers from 1 to 4 is: 10

Assignment 5.1: WAP to find max among three numbers using max() function

In [9]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
maximum = max(num1, num2, num3)
print("The maximum number is:", maximum)

Enter first number: 2
Enter second number: 4
Enter third number: 5
The maximum number is: 5

Assignment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n

In [10]:
n = int(input("Enter the value of n: "))
result = sum(i for i in range(1, n + 1) if i % 7 == 0 and i % 9 == 0)
print("The sum of numbers divisible by 7 and 9 from 1 to", n, "is:", result)

Enter the value of n: 4
The sum of numbers divisible by 7 and 9 from 1 to 4 is: 0

Assignment 5.3: WAP to add all prime numbers from 1 to n

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

n = int(input("Enter the value of n: "))
result = sum(i for i in range(1, n + 1) if is_prime(i))
print("The sum is: ", n, "is:", result)

Assignment 6.1: WAP using a function that adds all odd numbers from 1 to n

In [ ]:
def add_odd_numbers(n):
    return sum(i for i in range(1, n + 1) if i % 2 != 0)

n = int(input("Enter the value of n: "))
result = add_odd_numbers(n)
print("the sum is", n, "is:", result)

Assignment 6.2: WAP using a function that adds all prime numbers from 1 to n

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    return sum(i for i in range(1, n + 1) if is_prime(i))

n = int(input("Enter the value of n: "))
result = add_prime_numbers(n)
print("The sum", n, "is:", result)